<h2>タイトル</h2>
<p><%= @review.review_title %></p>

<h2>本文</h2>
<p><%= @review.review_body %></p>

<h2>画像</h2>
<% if @review.image.attached? %>
  <%= image_tag @review.image, size: "300x300" %>
<% else %>
  <%= image_tag 'no_image', size: "300x300" %>
<% end %>

<%= link_to "編集", edit_review_path(@review.id) %>
<%= link_to "削除", review_path(@review.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>